@keyframes menu_expansion {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

.container-side-menu{
    display: block;
    height: 100%;
    background-color: #222831;
    color: #EEEEEE;
}

/* collapsed menu */
.collapsed{
    position: fixed;
    overflow: scroll;
    top: 60px;
    width: 80px;
}
/* to hide the scrollbar */
.collapsed::-webkit-scrollbar{
    display: none;
}
/* expanded menu */
.expanded{
    position: absolute;
    top: 0px;
    width: 350px;
    z-index: 20;
    animation: menu_expansion 0.5s linear;
}

/* menu option */
.menu-option{
    position: relative;
    background-color: #222831;
    height: 80px;
    width: 100%;
}

/* Text inside menu option */
.menu-option > span{
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    color: #EEEEEE;
    text-decoration: none;
}
/* img tag in expanded menu */
.img-menu-expanded{
    position: relative;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: auto;
}
/* img tag in collapsed menu */
.img-menu-collapsed{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: auto;
}

.menu-option:hover{
    background-color: #393E46;
    cursor: pointer;
}

#institute{
    font-weight: 900;
}
#username{
    left: 20px;
    font-weight: 600;
}
#img-close{
    position: fixed;
    top: 10px;
    left: 350px;
    height: 40px;
    width: auto;
    z-index: 20;
}
#img-close:hover{
    cursor: pointer;
}
#container-inst-details{
    background-color: #393E46;
}

#side-menu-output{
    width: 100%;
    height: 100%;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

@media all and (max-width:992px)
{
    .collapsed{
        top: 50px;
    }
}

@media all and (max-width:767px)
{
    .collapsed{
        top: 40px;
        width: 50px;
    }
    .expanded{
        width: 300px;
    }
   
    .menu-option{
        height: 55px;
    }
    .menu-option > span{
        left: 55px;
        font-size: 24px;
    }

    .img-menu-collapsed , .img-menu-expanded{
        height: 25px;
    }

    #img-close{
        left: 300px;
        height: 35px;
    }
}

@media all and (max-width:576px)
{
    .collapsed{
        width: 40px;
    }
    .expanded{
        width: 220px;
    }
    
    .menu-option{
        height: 50px;
    }
    .menu-option > span{
        left: 50px;
        font-size: 20px;
    }

    .img-menu-collapsed , .img-menu-expanded{
        height: 20px;
    }

    #img-close{
        top: 5px;
        left: 220px;
        height: 30px
    }
}