.container-top-bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    background-color: #222831;
    color: #EEEEEE;
}

.container-btn-menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
#img-menu{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    height: inherit;
}

.container-title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
    text-overflow: ellipsis;
}
#txt-title{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: inherit;
    font-size: 40px;
}

.container-btn-profile{
    position: relative;
    margin-left: auto;
    width: 60px;
    height: inherit;
    overflow: hidden;
    background-color: #00ADB5;
    cursor: pointer;
}
#img-profile{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
}

.expanded > .menu-btn{
    
}

@media all and (max-width:992px)
{
    .container-top-bar{
        height: 50px;
    }

    .container-btn-menu , #img-profile{
        width: 25px;
        height: 25px;
    }
}

@media all and (max-width:767px)
{
    .container-top-bar{
        height: 40px;
    }

    .container-btn-menu{
        width: 20px;
        height: 20px;
        left: 10px;
    }

    #txt-title{
        font-size: 24px;
    }

    .container-btn-profile{
        width: 40px;
    }
    #img-profile{
        width: 20px;
        height: 20px;
    }
}

@media all and (max-width:576px)
{
    .container-btn-menu , #img-profile{
        width: 20px;
        height: 20px;
    }

    .container-title{
        left: 20px;
        transform: none;
    }
}